@import url('https://fonts.googleapis.com/css2?family=Gelasio:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.container{
    width : 100%;
    height : 100vh;
    /* border : 2px solid black; */
    font-family : "Poppins";
    display : flex;
    flex-direction : column;
    gap : 25px;
    align-items : center;
}

.container p{
    color : rgba(0, 0, 0, 0.784);
    font-size : 16px;
}

.first-blk{
    width : 100%;
    display : flex;
    flex-direction : column;
    gap : 10px;
    justify-content : center;
    align-items : center;
}

.first-blk h1{
    font-family : "Galesio";
    font-size : 35px;
}

.first-blk img{
    width : 40%;
    height : 50%;
}

.link{
    font-size : 17px;
    color : black;
}

.second-blk{
    width : 100%;
    display : flex;
    flex-direction : column;
    gap : 10px;
    justify-content : center;
    align-items : center;
}

.logo-container{
    font-size : 25px;
    display : flex;
    align-items : center;
}

.logo-container img{
    width : 60px;
    height : 60px;
}

